
@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>
<br/><br/>
<address>
    1 Big Bean Rd<br />
    Hell, MI 48169<br />
    <abbr title="Phone">P:</abbr>
    800.96.BIGBEAN
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Halp@TheBigBean.com">Halp@TheBigBean.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@TheBigBean.com">Marketing@TheBigBean.com</a>
</address>

