@{
    ViewBag.Title = "Home Page";
}

<div style="text-align: center">
    <h2>Welcome to The Big Bean!</h2>
    <img src="~/Content/bean.png" />
    <h2><a href="/home/registration">Register Here!</a></h2>
</div>
